apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-nginx-app
  namespace: argocd  # Or wherever ArgoCD is installed
spec:
  project: default

  source:
    repoURL: https://github.com/sanil1797/ArgoCD
    targetRevision: HEAD
    path: my-new-folder  # Folder in your repo with Kubernetes YAMLs

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
    - CreateNamespace=true
